<div class="container d-flex flex-wrap justyfy-content-center gap-3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">

                <div class="card-body">
                    <h5 class="card-title">{{post.owner.username}}</h5>
                    <p class="card-text"><small class="text-muted"></small>{{post.title}}</p>
                    <p class="card-text"><small class="text-muted"></small>{{post.post}}</p>

                </div>
                <a href="/comentarios/crear" class="btn btn-secondary" tabindex="-1" role="button">Comenta este post</a>
            </div>
        </div>
    </div>
</div>

<div class="card">

    <div class="card-header">
        {{post.owner.username}}
    </div>

    <div class="card-body">
        <h5 class="card-title">{{post.owner}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

</div>