<div class="container d-flex flex-wrap justyfy-content-center gap-3">
    <div class="card mt-5">
        <div class="card-header">
            {{post.owner.username}}
        </div>
        <div class="card-body mt-3" style="width: 18rem;">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.post}}</p>
            <a href="/comentarios/crear/{{post._id}}" class="btn btn-dark">Comenta este post</a>
        </div>
        <p class="card-text">{{#each post.comments}}</p>
        <hr>
        <p>{{owner}}</p>
        <p>{{title}}</p>
        <p>{{description}}</p>
        <hr>
        <p class="card-text">{{/each}}</p>
    </div>

</div>