<div class="card" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{species}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Planet: {{homeworld}}</li>
        <li class="list-group-item">Altura: {{height}}</li>
        <li class="list-group-item">Peso: {{mass}}kg</li>
    </ul>
    <div class="card-body">
        <a href="{{wiki}}" class="card-link">Wiki</a>
    </div>
</div>