<div class="container d-flex flex-wrap justyfy-content-center gap-3" id="characters-details">

    <div class="card mb-3 mt-5" style="max-width: 900px;">

        <div class="row g-0">

            <div class="col-md-4">

                <img src="{{characters.image}}" class="img-fluid rounded-start" alt="...">

            </div>
            <div class="col-md-8">

                <div class="card-body">

                    <h5 class="card-title">{{characters.name}}</h5>

                    <p class="card-text"><small class="text-muted"></small>Especie: {{characters.species}}</p>
                    <hr>
                    <p class="card-text"><small class="text-muted"></small>Color: {{characters.skinColor}}</p>
                    <hr>
                    <p class="card-text"><small class="text-muted"></small>Ojos: {{characters.eyeColor}}</p>
                    <hr>
                    <p class="card-text"><small class="text-muted"></small>Altura: {{characters.height}}m</p>
                    <hr>
                    <p class="card-text"><small class="text-muted"></small>Peso: {{characters.mass}}kg</p>
                    <hr>
                    <p class="card-text"> Aliados:</p>
                    <p>{{characters.affiliations}}</p>
                    <a href="{{characters.wiki}}">Wiki</a>

                </div>
            </div>
        </div>
    </div>
</div>